 body{
      text-align: center;
    }

    .container{
      border: 3px solid black;
      margin: 0% 30%;
      border-radius: 10px;
      background-color: rgb(130, 126, 126);
    }

  .choice-button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(135, 190, 58);
    border-radius: 50px;
    cursor: pointer;
  }
  .choice-image{
    height: 75px;
  }

  #reset-button{
    height: 50px;
    width: 50px;
    background-color: lightcoral;
    border: none;
    cursor: pointer;
  }

  .header{
    background-color: rgb(112, 170, 218);
    margin: 0% 20%;
    color: rgba(249, 248, 247, 1);
  }