#nav{
  height: 70px;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(21, 141, 211);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
#N {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#bar{
  float:right;
  padding-top:15px;
  margin-right:20px;
  color: rgb(234, 245, 220);
}
#links {
  display: flex;
}
#links a {
  text-decoration: none;
  color: rgb(255, 255, 119);
}